<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dsaf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0E3C7981CA0359800B3F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E3C7B11CA0359800B3F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E3C7BC1CA0359800B3F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
